html {
    /*background-color: lightgoldenrodyellow;*/
}

body {
    width: 1280px;
    /*height: 1580px;*/
    margin: 0 auto;
    /*border: 1px solid black;*/
    /*background-color: white;*/
    font-family: "Futura Medium", sans-serif;
}

section#container {
    width: 100%;
    height: auto;
    background-color: white;
}

/*********Header**********/

header {
    width: 310px; /****was 22.65625%*****/
    float: left;
    text-align: center;
    margin-top: 15px;
}

header h1 {
    text-indent: -5555px;
    overflow: hidden;
}

header section {
    width: 60%;
    float: none;
    margin: 0 auto;
}

header li {
    margin-top: 41px;
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: #1dafbd;
}

/*Active links*/
.active {
    color: #a1bdc0;
}


/*********Social Media Icons*********/

.main section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.main section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.main > img {
    width: 923px;
    height: auto;
}

/******Special Offers*******/

.main section:last-of-type h2 {
    margin-top: 47px;
    font-size: 26px;
    margin-bottom: 10px;
}

.main section:last-of-type form  {
    display: block;
    float: right;
    width: 47%;
    margin-bottom: 47px;
    overflow: hidden;
}

.main section:last-of-type p {
    width: 53%;
    float: left;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 8px;
}

.main input[type=text] {
    width: 206px;
    height: 27px;
    margin-right: 18px;
    margin-left: 10px;
    font-size: 15px;
}

.main input[type=submit] {
    background-color: #1dafbd;
    width: 189px;
    height: 32px;
    color: white;
    border: none;
    font-size: 19px;
}

/**************Subcontent*********/
.subcontent {
    width: 100%;
    height: 560px;
    background-color: rgba(29, 175, 189, .20);
    clear: both;
}

.subcontent section {
    width: 360px;
    height: 360px;
    background-color: white;
    float: left;
    margin-top: 100px;
}

.subcontent section:first-of-type {
    margin-left: 47px;
}

.subcontent section:nth-of-type(2), .subcontent section:last-of-type {
    margin-left: 53px;
}

.subcontent img {
    margin-top: 42px;
    margin-left: 42px;
}

.subcontent h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.subcontent p {
    padding-left: 42px;
    padding-right: 42px;
    line-height: 1.3;
    font-size: 16px;
}

.subcontent a {
    float: right;
    margin-right: 42px;
    margin-top: 5px;
    color: #1dafbd;
    font-size: 17px;
}


/*******Footer**********/

footer h4 {
    margin-bottom: 5px;
    color: #4d4d4d;
    font-size: 18px;

}

footer pre {
    line-height: 1.5;
}

footer ul {
    list-style-type: none;
    position: relative;
    float: right;
    width: 100%;
    margin-top: 47px;
}

footer li {
    display: inline-block;
    width: 135px;
    margin-left: 138px;
    text-align: center;
}

footer li:first-of-type {
    margin-left: 0;
}

footer a {
    text-decoration: none;
    color: #1dafbd;
}

footer section {
    width: 20%;
    margin-top: 47px;
    color: #4d4d4d;
    font-size: 16px;
}

footer section:first-of-type {
    float: left;
    margin-left: 47px;
}

footer section:last-of-type {
    float: right;
    margin-right: 6px;
}

footer pre {
    margin-left: 10px;
}

footer p {
    clear: both;
    text-align: center;
    padding-top: 25px;
    font-size: 13px;
}


/**********************************Locations Page****************************************/

/*********Social Media Icons*********/

.locations_main > section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.locations_main > section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.locations_main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.locations_main h1 {
    clear: both;
    margin-top: 105px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px dashed black;
}

.locations_main p {
    font-size: 16px;
    line-height: 1.3;
}

.maps > section {
    width: 923px;
    height: 314px;
    background-color: rgba(29, 175, 189, .20);
    margin-top: 40px;
}

.maps article {
    float: left;
}

.maps h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.maps h3 {
    font-size: 24px;
    color: #666666;
    margin-bottom: 8px;
    margin-left: 30px;
}

.maps li {
    font-size: 20px;
    margin-left: 30px;
    line-height: 1.3;
}

.maps li:nth-of-type(2) {
    margin-bottom: 40px;
}

/****Map container****/
.maps > section > section {
    width: 424px;
    height: auto;
    float: right;
    margin-top: 30px;
    margin-right: 30px;

}

/*The maps*/
div#mapHayward, div#mapSanJose, div#mapSanMateo {
    width: 100%;
    height: 256px;
}

div#mapSanMateo {
    margin-bottom: 75px;
}

/*****Border*******/

div.border {
    border-top: 2px dashed black;
    width: 1186px;
    margin: 0 auto;
    clear: both;
}

/*******Footer*****/
#locations footer {
    width: 100%;
    clear: both;
}



#locations footer ul {

    /*border-top: 2px dashed black;*/
}


/*******************************About Us Page****************************************************/

/*********Social Media Icons*********/

.aboutus_main > section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.aboutus_main > section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.aboutus_main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.aboutus_main h1 {
    clear: both;
    margin-top: 105px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px dashed black;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 47px;
}

.info p:nth-of-type(2) {
    margin-top: 8px;
}

/*****About Us Info section*******/
.info > section:first-of-type {
    width: 50%;
    float:left;
}
/*****About Us Images section*******/
.info > section:last-of-type {
    width: 50%;
    float:right;
    margin-top: 47px;
    margin-bottom: 47px;
}

.info > section img:first-of-type {
    margin-bottom: 47px;
}

.info h2 {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 8px;
}

.info section article:nth-of-type(2), .info section article:nth-of-type(3) {
    margin-top: 30px;
}


/*******************************Terms of Use Page*******************************************/

/*********Social Media Icons*********/

.terms_main > section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.terms_main > section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.terms_main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.terms_main h1 {
    clear: both;
    margin-top: 105px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px dashed black;
}

/*****Terms Info section*******/
.legal > section:first-of-type {
    width: 50%;
    float:left;
}
/*****Terms Images section*******/
.legal > section:last-of-type {
    width: 50%;
    float:right;
    margin-top: 47px;
    margin-bottom: 47px;
}

.legal > section img:first-of-type {
    margin-bottom: 47px;
}

.legal h2 {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 8px;
}

.legal p {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 47px;
}

.legal p:nth-of-type(2), .legal p:nth-of-type(3), .legal p:nth-of-type(4), .legal p:nth-of-type(5) {
    margin-top: 17px;
    color: #4d4d4d;
}

/***********************************************Coffees Page******************************/
.coffees_main > section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.coffees_main > section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.coffees_main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.coffees_main h1 {
    clear: both;
    margin-top: 105px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px dashed black;
}

/*****Coffees Info section*******/
.coffees > section:first-of-type {
    width: 50%;
    float:left;
}
/*****Coffees Images section*******/
.coffees > section:last-of-type {
    width: 50%;
    float:right;
    margin-top: 47px;
    margin-bottom: 47px;
}

.coffees > section img:first-of-type {
    margin-bottom: 47px;
}

.coffees a {
    display: block;
    width: 259px;
    height: 32px;
    background-color: #1dafbd;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin: 40px auto 0 auto;
    color: white;
    font-size: 19px;

}

.coffees h2 {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 8px;
}

.coffees p {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 47px;
}
.coffees p:nth-of-type(2) {
    margin-top: 8px;
}

/*****Image Gallery*****/

.coffee_gallery {
    width: 100%;
    height: 621px;
    background-color: rgba(29, 175, 189, .20);
    clear: both;
}

.coffee_gallery h3 {
    padding-top: 84px;
    margin-left: 47px;
    font-size: 24px;
}

.coffee_gallery p {
    margin-left: 47px;
    margin-top: 10px;
}

.coffee_gallery h4 {
    margin-top: 5px;
    font-weight: 600;
}

.coffee_gallery section {
    width: 360px;
    height: 390px;
    float: left;
    margin-top: 20px;
    text-align: center;
}

.coffee_gallery section:first-of-type {
    margin-left: 47px;
}

.coffee_gallery section:nth-of-type(2) {
    margin-right: 52px;
    margin-left: 52px;
}


/***********************************************Contact Us Page******************************/
.contact_main > section:first-of-type {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.contact_main > section:first-of-type p:first-of-type {
    text-align: center;
}

/*********Main Content*********/
section.contact_main {
    width: 923px; /*74.21875%;*/
    float: left;
    margin-right: 47px;
}

.contact_main h1 {
    clear: both;
    margin-top: 105px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px dashed black;
}

.contact > section:first-of-type {
    width: 560px;
    height: 552px;
    float: left;
    background-color: rgba(29, 175, 189, .20);
    margin-bottom: 40px;
}

.contact > section:last-of-type {
    width: 28%;
    height: auto;
    float: right;
    margin-top: 115px;
    margin-left: 80px;
}

.contact ul:first-of-type {
    margin-bottom: 80px;
}
.contact h4 {
    font-size: 22px;
    margin-bottom: 5px;
}

.contact li {
    line-height: 1.7;
    font-size: 18px;
}

.contact form {
    padding-top: 35px;
    padding-left: 109px;
}

.contact form label {
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

.contact input[type=text] {
    width: 206px;
    height: 32px;
    font-size: 16px;
}

.contact input[type=submit] {
    background-color: #1dafbd;
    width: 189px;
    height: 32px;
    color: white;
    border: none;
    font-size: 19px;
    margin-top: 15px;
    margin-left: 75px;
}

.contact form textarea {
    display: block;
    width: 338px;
    height: 139px;
    margin-top: 5px;
}

.contact h2 {
    margin-top: 20px;
    font-size: 26px;
}

.contact p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
    line-height: 1.3;
}

.contact input[name=first] {
    margin-left: 34px;
}

.contact input[name=last] {
    margin-left: 35px;
}

.contact input[name=email] {
    margin-left: 6px;
}

.contact input[name=phone] {
    margin-left: 1px;
}






















